/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Style des deux containers */
#containe {
    display: flex;
    flex-direction: column;
    font-family: 'Audiowide', cursive;
}

#container2 {
    display: flex;
    flex-direction: column;
    font-family: 'Audiowide', cursive;
    margin-top: 15px;
}

/* Disposition des trois images */
.pics {
    display: flex;
    justify-content: center;
    padding: 55px;
}

/* Style des trois images */
.pics img {
    width: 15vw;
    height: 30vh;
    border: 3px solid black;
    padding: 3%;
    margin: 3%;
}

/* Style description produit */
.descr {
    margin-top: 50px;
}

.descr h1 {
    text-align: center;
    margin-bottom: 5px;
}

.descr p {
    text-align: center;
    margin-bottom: 10px;
}

.descr span {
    font-weight: bold;
    font-size: 20px;
}

/*Prix*/
.infos-prod {
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 10%;
    margin-left: 45%;
}

/* Style du bouton d'ajout au panier */
.bouttonpanier input {
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 10%;
    padding: 5px 30px;
    font-family: 'Audiowide', cursive;
    margin-left: 45%;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: white;
}

.bouttonpanier input:hover {
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 10%;
    padding: 5px 30px;
    font-family: 'Audiowide', cursive;
    margin-left: 45%;
    margin-top: 10px;
    background-color: black;
    color: white;
}

/*Système de notation */
.rate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    margin-left: 35%;
}

.rate p {
    font-family: 'Audiowide', cursive;
    font-size: 30px;
}

.rate a i {
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: goldenrod;
}

.stars {
    margin-left: 10%;
    margin-top: 15px;
}

/* Style des commentaires */
.comm h1 {
    text-align: center;
    margin-bottom: 5px;
}

.comm p {
    text-align: center;
    margin-bottom: 10px;
}

.comm h2 {
    text-align: center;
    margin-bottom: 5px;
}

/* Style zone de commentaire */
textarea {
    resize: none;
}

                    /* Début des Medias Queries pour le responsive */
/* Mobile devices */
@media screen and (max-width: 767px) {
        .pics img {
            width: 200px;
            height: 200px;
        }

        .descr {
            margin-top: 0px;
        }

        .descr h1 {
            margin-top: 0px;
            padding-bottom: 25px;
            font-size: 66px;
        }

        .descr span {
            font-size: 28px;
        }

        .descr p {
            font-size: 20px;
        }

        .bouttonpanier form input {
            width: 480px;
            height: 80px;
            border-radius: 50px;
            margin-left: 18%;
            margin-bottom: 15px;
            background-color: #D7DBAF;
        }

        .rate {
            margin-left: 10%;
        }

        .stars {
            margin-left: 20%;
            margin-top: 25px;
        }
}

/* Tab devices */
@media screen and (min-width: 768px) and (max-width: 1599px) {

}