/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.box{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Audiowide', cursive;
}
form{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}
form input{
    border-radius: 5px;
}
form a{
    color: #0c88b4;
    font-family: 'Audiowide', cursive;
}

.formconnect{
    margin-top: 55px;
}
.imageconnect{
    margin-top: 3%;
}
#connect{
    background: black;
    color: white;
    min-height: 45px;
    border-radius: 30px;
    font-size: 20px;
    font-family: 'Audiowide', cursive;
}
#connect:hover{
    background: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.errors {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 1s ease-in-out 2s 1 normal forwards;
}

.success {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 2s ease-in-out 2s 1 normal forwards;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes outro {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

                    /* Début des Medias Queries pour le responsive */
/* Mobile devices */
@media screen and (max-width: 767px) {
    .box img {
        display: none;
    }

    .box {
        margin-top: 250px;
        margin-bottom: 10px;
    }

    .box h1 {
        font-size: 56px;
        text-align: center;
        margin-bottom: 50px;
    }

    .box form {
        width: 500px;
    }

    .box form label {
        text-align: center;
        font-size: 32px;
    }

    #connect {
        margin-top: 20px;
    }

    form a {
        text-align: center;
        margin-top: 10px;
    }

    form input[type="text"] {
        height: 40px;
    }

    form input[type="password"] {
        height: 40px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}