/* Footer */

footer #footer {
    background-color: #D7DBAF;
}

#footer {
    display: flex;
    justify-content: space-between;
}

.contact {
    margin-left: 10px;
}


.contact h1 {
    font-family: 'Press Start 2P', cursive;  font-size: 14px;
    margin-top: 30%;
}

.contact i {
    font-size: 25px;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    padding: 3%;
}

.savoir {
    display: flex;
    flex-direction: column;
}

.savoir h1 {
    font-family: 'Press Start 2P', cursive;  font-size: 14px;
    margin-top: 30%;
}

.savoir a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    text-align: center;
}

.logo img {
    width: 170px;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-right: 15px;
}