.titre {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.box {
    display: flex;
    justify-content: space-evenly;
}

.imageoubli {
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 15px;
}
form label{
    font-size: 30px;
}
#reset{
    width: 150px;
    background: black;
    color: white;
    min-height: 45px;
    border-radius: 30px;
    font-size: 20px;
}
#reset:hover{
    background: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.error1 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 1s ease-in-out 2s 1 normal forwards;
}

.success {
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: x-large;
    animation: entrance 2s ease-in-out 0s 1 normal forwards,
    outro 2s ease-in-out 2s 1 normal forwards;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes outro {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
