.souscat {
    background: black;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.souscat img:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.titre{
    text-align: center;
    margin-top: 50px;
}
.box {
    display: flex;
}

.research {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 1px black;
}

.research form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.research form select {
    min-height: 50px;
    border-radius: 15px;
    background: black;
    color: white;
    font-size: 20px;
}
.research input{
    width: 150px;
    min-height: 25px;
    font-size: 20px;
    border-radius: 10px;
}
.research input:hover{
    background: green;
}


.productlist {
    width: 70%;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.card img {
    width: 100%;
}
.short{
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    bottom: 20%;
    font-size: 1.5rem;
}
.page {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.card a{
    max-width: 150px;
    display: block;
}
.contener{
    position: relative;
}
.card:hover .short{
    display: block;
}

.hidden {
    display: none;
}