
.boite1{
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    gap: 50px;
    line-height: 1.5;

}
.link{
    display: flex;
    flex-direction: column;
}

table{
    gap: 5px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.link a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: solid 3px black;
}
.link :hover{
    background: red;
    color: white;
}
.value{
    line-height: 1.9;
}
.reward{
    margin-top: 15px;
}
.metal{
text-align: center;
    margin-bottom: 15px;
}
.image{
    margin-top: 25px;
}
.imageit{
    width: 20%;
}
#modif{
    background: black;
    color: white;
    min-height: 45px;
    border-radius: 10px;
    font-size: 20px;
}
#modif:hover{
    background: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}